@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,700&display=swap');

.text {
    -fx-font-family: "Inter", sans-serif;
    -fx-text-fill: #cc0033;
}

.dialog-pane{
  -fx-border-color:#cc0033;
  -fx-border-width:2px;
  -fx-background-color:#2b2d42;
 }
 
 .dialog-pane > .content.label {
   -fx-text-fill:#cc0033;
   -fx-font-size:15px;
   -fx-background-radius: 30;
}

.dialog-pane .button{
   -fx-background-color:#cc0033;
    -fx-font-size: 15px;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: #2b2d42;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
 }