@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,700&display=swap');

* {
    -fx-font-family: "Inter", sans-serif;
}

.anchorPane{
    -fx-background-color:#2b2d42;
}

.container {
    -fx-background-color: #2b2d42;
    -fx-background-radius:20px;
    -fx-border-color: #cc0033;
    -fx-border-width: 5px;
    -fx-border-radius:20px;
}

.btn {
    -fx-background-color:#cc0033;
    -fx-background-radius:50px;
}
