
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,700&display=swap');

#AnchorPane{
    -fx-background-color: #cc0033;
    -fx-background-radius:15px;
}
* {
    -fx-font-family: "Inter", sans-serif;
}

.btnEntrar{
    -fx-font-size:18px;
}
