@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,700&display=swap');

* {
    -fx-font-family: "Inter", sans-serif;
}

AnchorPane {
    -fx-background-color: grey;
}

.container {
    -fx-background-color: lightgray;
    -fx-background-radius:15px;
}

.voltar{
    -fx-background-color: grey;
    -fx-background-radius:100px;
}

.titulo{
    -fx-font-size:25px;
}

.texto{
    -fx-font-size:18px;
}

.btn {
    -fx-background-color:#d90429;
    -fx-background-radius:15px;
    -fx-text-fill:#2b2d42;
}

