AnchorPane {
    -fx-background-color: grey;
}

.container {
    -fx-background-color: lightgray;
    -fx-background-radius:15px;
}

.voltar{
    -fx-background-color: grey;
    -fx-background-radius:100px;
}

